body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    border-top: 5px #5fcd70 solid;
    display: grid;
    grid-template-areas: 'header'
                         'nav'
                         'article'
                         'section'
                         'footer';
    grid-template-rows: 78vh 40vh 50vh 50vh 10vh;
}
header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(img/banner.png);
    background-size: cover;
}
.div-textos{
    width: 40%;
    height: 100%;
    margin-left: 175px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.div-textos h1{
    font-size: 30pt;
    color: white;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}
.div-textos h1 span{
    color: #5fcd70;
}
.div-textos p{
    margin: 0;
    font-size: 18pt;
    color: white;  
}
#container-ico{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
#ico{
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.400);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#ico img{
    width: 20px;
}
#ico:hover{
    background-color: #5fcd70;
}
.div-mao{
    width: 40%;
    height: 100%;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.div-mao img{
    width: 68%;
}
nav{
    grid-area: nav;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav div{
    text-align: center;
}
.div-pre-ico{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-ico{
    background-color: #5fcd70;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav div h1{
    font-size: 14pt;
    font-weight: 500;
}
nav div p{
    font-size: 10pt;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.500);
}
article{
    grid-area: article;
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#div-form h1{
    margin-top: 0;
    font-size: 18pt;
    font-weight: 500;
}
#div-form p{
    font-size: 12pt;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.600);
}
#div-form input{
    height: 30px;
    width: 250px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    color: rgba(0, 0, 0, 0.500);
}
#div-form button{
    width: 80px;
    height: 32px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #5fcd70;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12pt;
    font-weight: 900;
    color: white;
    cursor: pointer;
}
#div-img-video{
    cursor: pointer;
}
section{
    grid-area: section;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
section p{
    margin-top: 0;
    font-size: 12pt;
    font-weight: lighter;
    font-style: italic;
    color: rgba(0, 0, 0, 0.500);
}
section h1{
    font-size: 14pt;
}
section div img{
    cursor: pointer;
}
.p2{
    font-size: 10pt;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.500);
}
#container-ico2{
    width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#ico2{
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.200);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#ico2 img{
    width: 15px;
    color: black;
}
#ico2:hover{
    background-color: #5fcd70;
}
footer{
    grid-area: footer;
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer div a{
    margin: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.300);
    cursor: pointer;
}
footer div a:hover{
    color: black;
}